<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpleoLocal">
        <activity
            android:name=".activity_lista_ofertas"
            android:exported="false" />
        <activity
            android:name=".activity_seguimiento_postulacion"
            android:exported="false" />
        <activity
            android:name=".activity_filtrar_ofertas"
            android:exported="false" />
        <activity
            android:name=".activity_notificaciones"
            android:exported="false" />
        <activity
            android:name=".activity_empleos_guardados"
            android:exported="false" />
        <activity
            android:name=".activity_perfil_empresa"
            android:exported="false" />
        <activity
            android:name=".activity_detalle_oferta"
            android:exported="false" />
        <activity
            android:name=".activity_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_postulaciones"
            android:exported="false" />
        <activity
            android:name=".activity_mapa_empleos"
            android:exported="false" />
        <activity
            android:name=".activity_inicio"
            android:exported="false" />
        <activity
            android:name=".activity_registro_paso_3"
            android:exported="false" />
        <activity
            android:name=".activity_registro_paso_2"
            android:exported="false" />
        <activity
            android:name=".activity_registro_paso_1"
            android:exported="false" />
        <activity
            android:name=".activity_iniciar_sesion"
            android:exported="true" />
        <activity
            android:name=".activity_bienvenida"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>